<!DOCTYPE html>
<html class="main main1">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/iconfont/iconfont.js" type="text/javascript"></script>
  <script src="/iconfont3/iconfont.js" charset="utf-8"></script>
  <script src="/iconfont1/iconfont.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery-1.11.0.js" charset="utf-8"></script>
  <script src="/javascripts/main.js" charset="utf-8"></script>
  <script src="/javascripts/xheditor/xheditor-1.2.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/xheditor/xheditor_lang/zh-cn.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="main main1">
  <div id="wrap">
    <div id="left1">
        <p>Admin Pros</p>
        <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-zhifumoban"></use>
        </svg>

        <a class="zhu">

          <svg class="icon1" aria-hidden="true">
              <use xlink:href="#icon-box"></use>
          </svg>
          主页
        </a>
        <ul id="zhu">

          <li>详情</li>
        </ul>


        <a  class="zu">

          <svg class="icon1" aria-hidden="true">
              <use xlink:href="#icon-all"></use>
          </svg>
          详情
        </a>
        <ul id="zu">

          <li>表单</li>
          <li>页面</li>
        </ul>



        <a class="yong">

          <svg class="icon1" aria-hidden="true">
              <use xlink:href="#icon-account"></use>
          </svg>
          博客
        </a>
        <ul id="yong">

          <li>博客</li>
          <li>博客配置</li>
        </ul>
    </div>
    <div id="content1">
      <div id="top1">
        <div id="hei">
        <svg class="icon2 flw" aria-hidden="true">
          <use xlink:href="#icon-sousuojieguo"></use>
        </svg>
        <a href="" class="bangzhu">
          <span><%-name%></span>
          <svg class="icon2" aria-hidden="true">
            <use xlink:href="#icon-tuijianzhiwei"></use>
          </svg>
        </a>
        </div>
        <ul class="tou">
          <li id="kzt" class="bian">写博客<span class="cha">X</span></li>
          <li id="xiang">博客详情<span class="cha">X</span></li>
          <li id="yonghu">博客列表<span class="cha">X</span></li>
          <li id="bokexiugai">博客修改<span class="cha">X</span></li>
        </ul>
      </div>
      <div id="mainbody">
          <div id="bd">
            <p class="biaodan">表单:</p>
            <form action="">
              <div id="biaoleft">
                <label for="biaoti" class="biaoti">标题</label>
                <label for="pwd" class="biaoti1">内容</label>
                <label for="rideo" class="biaoti2">性别</label>
                <label for="txa" class="biaoti3">文本域</label>
              </div>
              <div id="biaoright">
                <input type="text" id="biaoti" placeholder="请输入标题">
                <input type="text" id="pwd" placeholder="请输入内容">
                <input type="radio" name="nan" class="sex" id="rodeo">
                <p class="xing">男</p>
                <input type="radio" name="nan" class="sex" checked>
                <p class="xing" id="nn">女</p>
                <textarea  id="content" class="xheditor val1"></textarea>
                <input type="button" value="提交选择" id="tijiao">
                <input type="reset" value="重置" id="reseat">
              </div>
            </form>
          </div>
          <!-- 博客修改 -->
          <div id="boke">
            <p class="biaodan">修改您的内容:</p>
            <form action="">
              <div id="biaoleft">
                <label for="biaoti" class="biaoti">修改标题</label>
                <label for="pwd" class="biaoti1">修改内容</label>
                <label for="rideo" class="biaoti2">修改性别</label>
                <label for="txa" class="biaoti3">修改文本域</label>
              </div>
              <div id="biaoright">
                <input type="text" id="biaoti1" placeholder="请输入您的标题">
                <input type="text" id="pwd1" placeholder="请输入修改内容">
                <input type="radio" name="nan" class="sex" id="rodeo">
                <p class="xing">男</p>
                <input type="radio" name="nan" class="sex" checked>
                <p class="xing" id="nn">女</p>
                <textarea  id="content" class="xheditor val2"></textarea>
                <input type="button" value="提交选择" id="xi">
                <input type="reset" value="重置" id="reseat">
              </div>
            </form>
          </div>
          <!-- #详情 -->
          <div id="xiangqing" >
              <p id="huan">欢迎来到我的博客</p>
              <p id="nnn">哔。。。。。。。。。。。。。。。。</p>


          </div>
          <!-- 用户组 -->
          <div id="yhz">
            <table class="table table-hover" id="tab">
              <tr >
                  <th>标题</th>
                  <th>关于</th>
                  <th>内容</th>
              </tr>
              <%if(data){%>

                <% data.map(function(item){%>
                  <tr>
                    <td><a class="lianjie" idd="<%-item._id%>"><%-item.tit%></a></td>
                    <td><%-item.con%></td>
                    <td><%-item.nei%></td>
                  </tr>
                <% }) %>

                <%}else{%>


                  <%}%>


            </table>

      <nav aria-label="Page navigation" class="pag">
          <ul class="pagination">
            <li>
              <a pageid="<%-pageno<0?1:parseInt(pageno)-1%>" class="clc" aria-label="Previous">
                <span aria-hidden="true">&laquo;上一页</span>
              </a>
            </li>

<%if(page>4){%>
          <li><a pageid=1 class="clc">1</a></li>
          <li><a pageid=2 class="clc">2</a></li>
          <li><a href="#">....</a></li>
          <li><a pageid="<%-page-1 %>" class="clc"><%-page-1 %></a></li>
          <li><a pageid="<%-page %>" class="clc"><%-page%></a></li>
<%}else{%>
        <%for(let i=0;i<page;i++){%>
            <li><a pageid="<%-i+1 %>" class="clc"><%-i+1%></a></li>
        <%}%>
<%}%>

            <li>
              <a pageid="<%-pageno>=page?page:parseInt(pageno)+1%>" class="clc"  aria-label="Next">
                <span  aria-hidden="true">&raquo;下一页</span>
              </a>
            </li>
          </ul>
</nav>
          </div>
          <div id="qxpz"></div>
      </div>
      <div id="bottom">
        <span>
                @2018demo by 雷丰溪
        </span>

      </div>
    </div>
  </div>
</body>
<script src="/javascripts/fwb.js" type="text/javascript" charset="utf-8"></script>
<script>

  $(function(){

    $("#tijiao").click(function(){
      var a=$("#biaoti").val();
      var b=$("#pwd").val();
      var c=$(".val1").val();
      console.log(a);
      if(a==""||b==""||c==""){
        alert("不能为空");
      }else{
        $.ajax({
          type:"post",
          url:"/users/main",
          data:{tit:$("#biaoti").val(),con:$("#pwd").val(),nei:$(".val1").val()},
          success:function (data) {
            if (data==1) {
              alert("留言成功");
                $("#yhz").css("display","block");
                $("#bd").css("display","none");
                $("yonghu").addClass("bian");
                $("#kzt").removeClass("bian");
            }else{
              alert("留言失败");
              location.href="/main"
            }
          }
        })
      }
    })
    $.ajax({
      type:"get",
      url:"/main?pageno=1",
      success:function(data) {
      }
    })
      var tab=document.getElementById("tab");
    $(".clc").click(function(){
      var idc=$(this).attr("pageid");
      var attr="";
      // console.log(idc);
        $.ajax({
          type:"get",
          url:"/main1?pageno="+idc,
          success:function(data) {
               for(var i in data){
                 // console.log(data)
                 attr+=`
                 <tr>
                   <td><a class="lianjie" idd=${data[i]._id}>${data[i].tit}</a></td>
                   <td>${data[i].con}</td>
                   <td>${data[i].nei}</td>
                 </tr>
                 `
               }
          tab.innerHTML="<tr><th>标题</th><th>关于</th><th>留言</th></tr>"+attr;
          $(".lianjie").click(function() {
            $("#xiangqing").css('display', 'block');
            $("#yhz").css("display","none");
            $("#bd").css("display","none");
            $("#xiang").addClass("bian");
            $("#kzt").removeClass("bian");
            $("#yonghu").removeClass("bian");
            var ide=$(this).attr("idd");
            var at="";
            $.ajax({
              url:"/xiang?id="+ide,
              type: 'get',
              success:function(data){
                console.log(data[0]._id);
                at=`
                <div id="wrrp">

                  <p id="tit">${data[0].tit}</p>
                  <p id="nam">作者:</p>
                  <p id="about">${data[0].con}</p>
                  <p id="neirong">${data[0].nei}</p>
                  <input type="button" id="shan" value="删除 "/>
                  <input type="button" id="xiugai" value="修改" />
                  </div>
                `

                document.getElementById("xiangqing").innerHTML=at;
                $("#shan").click(function() {
                  var id=data[0]._id;
                  $.ajax({
                    url: '/shan?id='+id,
                    type: 'get',
                    success:function(data) {
                      if(data==1){
                          alert("删除成功");
                          location.href="/main";
                          $("#yhz").css("display","block");
                          $("#bd").css("display","none");
                          $("#xiangqing").css('display', 'none');
                          $("#yhz").addClass("bian");
                          $("#kzt").removeClass("bian");
                      }
                    }
                  })
                });
              }

            })

          });
          }
        })
    })
  })
</script>
</html>
